<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expense">
            <h2><span>Expense</span> {{expense.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{expense.date}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{expense.amount}}</span>
                </dd>
                <dt><span>Expensename</span></dt>
                <dd>
                    <span>{{expense.expensename}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{expense.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expense', expense.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
